---
layout: base
title: Feed | ASOS
---

<section class="flex flex-col items-center bg-neutral-50 py-8 px-4">
  <h1 class="text-center uppercase font-extrabold text-2xl tracking-widest text-neutral-900">{{ pages.feed.title }}</h1>
  <p class="text-center text-neutral-900">{{ pages.feed.subtitle }}</p>
  <div class="max-w-screen-lg grid grid-cols-3 gap-4 gap-y-10 mt-8 text-neutral-900 leading-normal">
    {% for item in pages.feed.posts %}
    <a href="#" class="transition-transform duration-300 ease-in-out hover:scale-105"
      >{% image item.image.src, item.image.alt, "aspect-square object-cover" %}
      <span class="block pt-4 px-3 uppercase text-xs font-bold text-neutral-600">{{ item.category }}</span>
      <h3 class="block px-3 font-bold text-xl uppercase">{{ item.title }}</h3>
      <span class="block px-3 text-neutral-600">{{ item.description }}</span>
      <span class="block pt-10 text-right font-bold text-xs text-neutral-600"
        >{% dateFormat item.datePublished, "dd MMMM yyyy" %}</span
      >
    </a>
    {% endfor %}
  </div>
  <button
    type="button"
    class="
      inline-block
      mt-4
      py-2
      px-4
      uppercase
      text-sm
      font-bold
      tracking-wide
      leading-none
      border-2 border-neutral-900
      transition-colors
      ease-in
      duration-300
      hover:border-neutral-50 hover:bg-neutral-900 hover:text-neutral-50
    "
  >
    {{ pages.feed.loadMore }}
  </button>
</section>
